# если деплоим во вне, то нужно задать доменное имя 
# Локальный запуск на ноутбуке
http://localhost, http://127.0.0.1 {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Permissions-Policy camera=(), microphone=(), geolocation=()
		Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self' http://localhost:4000 http://localhost https://localhost; frame-ancestors 'none'; base-uri 'self'; form-action 'self'"
	}

	@api path /api*
	reverse_proxy @api backend:4000

	reverse_proxy frontend:80
}
